

.filler {
  height: 100px;
}

.homeText {
  font-size: 60px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.lineButton {
  background: #00B900 !important;
  color: white !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
  border-color:  #00B900 !important;
}