

.filler {
  height: 100px;
}


.text-center {
  text-align: center;
}

.info-font {
  font-size: 20px;
}

.slick-slide {
  padding-left: 10px;
}

/* the parent */
.slick-track {
  margin-left:-20px !important;
}

.specialContainer {
  margin-left: -100px;
  margin-right: -100px;
}

.homeText {
  font-size: 60px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.home-button {
  color: #3DC75B !important;
  background: white !important;
  border-color: #3DC75B !important;
  font-size: 24px !important;
}

.inside-text {
  color: white;
  text-shadow: 3px 3px 6px rgba(0,0,0,.6);
  font-weight: 400;
  padding-top: 200px;
  font-size: 60px;
}

.tractor {
  position: absolute;
  top: -200px;
  right: -60px;
  
  height: 400px;
  width: auto;
}

.model-container {
    background-image: url('1600770004988.jpg');
}
p {
  color: #444444;
}

.cust-card{
  padding: 5px;
}