
.filler {
  height: 100px;
}

.home-button {
  color: #3DC75B !important;
  background: white !important;
  border-color: #3DC75B !important;
  font-size: 24px !important;
}

.card-product {
  padding: 2px !important;
}

.tractor {
  position: absolute;
  top: -200px;
  right: -60px;
  
  height: 400px;
  width: auto;
}

.white-flush {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: white;
  z-index: 3;
  left: 0;
}

.sortDrop {
  display: inline;
}

.sortDrop > button {
  background: white !important;
  color: grey !important;
  border-color: #AAAAAA !important;
  padding: 3px 15px 3px 15px;
  width: 150px;
  font-size: 14px;
  text-align: left;
}

.searchwrap {
  padding-bottom:.5rem!important;
}

.form-control {
  font-size: .9rem!important;
}
.search-btn {
  width: 100%;
  font-size: 13px !important;
  height: 100%;
}

.sortDrop > div {
  background: white !important;
  color: grey !important;
  border-color: #AAAAAA !important;
  font-size: 12px;
}


.filterBox {
  background: #EEEEEE;
}

.hoverable:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.spinner {
  position: absolute;
  top: 80%;
  left: 50%;
  z-index: 4;
  width: 100px !important;
  height: 100px !important;
  margin-top: -50px !important;
  margin-left: -50px !important;
}

.ts-container {
  max-width: 900px !important;
}

p {
  color: #444444;
}


.oldPrice {
  text-decoration: line-through;
  color: grey;
}

.newPrice {
  font-size: 16px;
}

.cust-card{
  padding: 0px;
}

.top-margin-minus {
  margin-top: -2px;
}