
.text-center {
  text-align: center;
}

.info-font {
  font-size: 20px;
}

.slick-slide {
  padding-left: 10px;
}

/* the parent */
.slick-track {
  margin-left:-20px !important;
}

.green-container {
  background: #8cbf62;
  padding-top: 30px;
  padding-bottom: 30px;
}
.small-container {
  max-width: 700px !important;
}

.about-container {
  background-image: url('IMG_20200901_121956.jpg');
}

.image-container {
    display: block;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
    position: relative;
}

.specialContainer {
  margin-left: -100px;
  margin-right: -100px;
}

.homeText {
  font-size: 60px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.home-button {
  color: #3DC75B !important;
  background: white !important;
  border-color: #3DC75B !important;
  font-size: 24px !important;
}

.tractor {
  position: absolute;
  top: -200px;
  right: -60px;
  
  height: 400px;
  width: auto;
}

p {
  color: #444444;
}

.cust-card{
  padding: 5px;
}