body {
  overflow-x: hidden !important;
  width: 100%;
  position: relative;
}

.home-container {
  text-align: center;
}

.filler {
  height: 100px;
}


.bannerText {
  font-size: 50px;
  color: #444444;
  font-weight: 600;
  text-align: left;
}

.svg {
  margin-top: -100px;
  right: 0;
  height: 800px;
  width: auto;
}

@media (min-width: 1800px) {
  .svg {
    width: 100%;
    height: auto;
  }
}

.secondsvg {
  left: 0;
  height: 550px;
}

.overlay-text {
  position: absolute;
  top: 4%;
  left: 8%;
}

.bannerDescription {
  font-size: 20px;
  color:  #444444;;
  font-weight: 400;
  text-align: left;
}

.text-center {
  text-align: center;
}

.subtitle {
  font-size: 40px;
  font-weight: 600;
}

.subdescription{
  color: grey;
  font-size: 25px;
  font-weight: 400;
}

.info-font {
  font-size: 20px;
}

.slick-slide {
  padding-left: 10px;
}

/* the parent */
.slick-track {
  margin-left:-20px !important;
}

.specialContainer {
  margin-left: -100px;
  margin-right: -100px;
}

.homeText {
  font-size: 60px;
  color: white;
  font-weight: 600;
  text-align: left;
}

.mockupimg{
  width: 100%;
}

.title-info {
  color: #306000;
}

.img-main {
  width: 100%;
  padding-bottom: 0.4em;
  max-width: 165px;
}

.home-button {
  color: #3DC75B !important;
  background: white !important;
  border-color: #3DC75B !important;
  font-size: 24px !important;
}

.tractor {
  position: absolute;
  top: -200px;
  right: -60px;
  
  height: 400px;
  width: auto;
}

p {
  color: #444444;
}

.cust-card{
  padding: 5px;
}