

.login-container{
  margin-top: -450px;
  background: white;
  position: relative;
  border-radius: 10px;
  padding: 40px !important;
  max-width: 600px !important;
}

p {
  color: #444444;
}


.cust-card{
  padding: 5px;
}

.padding-large {
  margin-bottom: 300px;
}